<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="The making of Caltech's first Nobel: Robert Millikan's road to Stockholm"

>
  <image imageURL="images/logo Archives FB.jpg"
	thumbURL="thumbs/logo Archives FB.jpg"
	linkURL="images/logo Archives FB.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\logo Archives FB.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/RAM 89.2-1 algebra class_recollection.jpg"
	thumbURL="thumbs/RAM 89.2-1 algebra class_recollection.jpg"
	linkURL="images/RAM 89.2-1 algebra class_recollection.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Web site\Dreamweaver-website\exhibits\Millikan\images\RAM 89.2-1 algebra class_recollection.jpg">
    <title><![CDATA[As a young student in D. Priaulx's algebra class; biographical note]]></title>
    <caption><![CDATA[Robert A. Millikan was born in 1868 in Morrison, Illinois. The second son of Reverend Silas F. Millikan and Mary Jane Andrew, he spent his youth in rural Maquoketa, Iowa. (Undated; photo credit: unknown; photo ID RAM 89.2-1)]]></caption>
  </image>
  <image imageURL="images/RAM 89.3-1 Oberlin fencing.jpg"
	thumbURL="thumbs/RAM 89.3-1 Oberlin fencing.jpg"
	linkURL="images/RAM 89.3-1 Oberlin fencing.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\RAM 89.3-1 Oberlin fencing.jpg">
    <title><![CDATA[Robert Millikan (center) with his fencing team at Oberlin]]></title>
    <caption><![CDATA[Millikan entered Oberlin College (Ohio) in 1886. His favorite subjects were Greek and mathematics, but he soon developed an interest in physics; by the time he obtained his bachelor's degree in 1891 and master's in 1893, he had become a consummate teacher. (Photo credit: unknown; photo ID RAM 89.3-1)]]></caption>
  </image>
  <image imageURL="images/RAM 89.2-5 moustache Columbia .jpg"
	thumbURL="thumbs/RAM 89.2-5 moustache Columbia .jpg"
	linkURL="images/RAM 89.2-5 moustache Columbia .jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\RAM 89.2-5 moustache Columbia .jpg">
    <title><![CDATA[At Columbia]]></title>
    <caption><![CDATA[In 1893 Millikan was awarded a graduate fellowship at Columbia University in New York, where in 1895 he earned his Ph.D. for research on the polarization of light. He had also grown a fine moustache. (Undated; photo credit: unknown; photo ID: RAM 89.2-5)]]></caption>
  </image>
  <image imageURL="images/1.39-1Ram Chicago Mich Kin Gal.jpg"
	thumbURL="thumbs/1.39-1Ram Chicago Mich Kin Gal.jpg"
	linkURL="images/1.39-1Ram Chicago Mich Kin Gal.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\1.39-1Ram Chicago Mich Kin Gal.jpg">
    <title><![CDATA[With University of Chicago colleagues Albert A. Michelson, Henry G. Gale, and Carl Kinsley, outside Ryerson Physical Laboratory.]]></title>
    <caption><![CDATA[Millikan spent summer 1894 at the University of Chicago, where he impressed Albert Michelson, the foremost physicist in the States and the head of the physics department. In 1896 Michelson offered him an assistantship, which he accepted enthusiastically. He rose quickly through the ranks.]]></caption>
  </image>
  <image imageURL="images/1.29-20 beach.jpg"
	thumbURL="thumbs/1.29-20 beach.jpg"
	linkURL="images/1.29-20 beach.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\1.29-20 beach.jpg">
    <title><![CDATA[With wife Greta and sons Clark and Glenn, at the beach]]></title>
    <caption><![CDATA[While at the University of Chicago, Millikan met Greta Blanchard, whom he married in 1902. They had 3 sons: Clark (born 1903), Glenn (born 1906), and Max (born 1913). (Circa 1910; photo credit: unknown; photo ID 1.29-20)]]></caption>
  </image>
  <image imageURL="images/1.26-2_oil drop apparatus.jpg"
	thumbURL="thumbs/1.26-2_oil drop apparatus.jpg"
	linkURL="images/1.26-2_oil drop apparatus.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\1.26-2_oil drop apparatus.jpg">
    <title><![CDATA[Millikan's oil-drop apparatus, Ryerson Laboratory, University of Chicago]]></title>
    <caption><![CDATA[In 1907 Millikan started the first of the two experiments that would win him the Nobel Prize. He set out to measure the charge of the electron by balancing the gravitational and electrical forces acting on charged droplets. (Photo credit: unknown; photo ID 1.26-2)]]></caption>
  </image>
  <image imageURL="images/labnotes 92-094.jpg"
	thumbURL="thumbs/labnotes 92-094.jpg"
	linkURL="images/labnotes 92-094.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\labnotes 92-094.jpg">
    <title><![CDATA[Excerpts from Millikan's oil-drop experiment laboratory notebooks, October 1911-March 1912]]></title>
    <caption><![CDATA[Millikan meticulously recorded his progress in his laboratory notebooks. He was able to show that electric charge always occurs as an integer multiple of a basic unit (the electron charge), which he measured accurately. (Learn more at <a href="http://caltechln.library.caltech.edu/7">caltechln.library.caltech.edu/7</a>.)]]></caption>
  </image>
  <image imageURL="images/paper 13 inside.jpg"
	thumbURL="thumbs/paper 13 inside.jpg"
	linkURL="images/paper 13 inside.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\paper 13 inside.jpg">
    <title><![CDATA["On the elementary electrical charge and the Avogadro constant", Physical Review (1913)]]></title>
    <caption><![CDATA[Millikan first published his results in 1910, but they were contested by Austrian physicist Felix Ehrenhaft. In 1913 Millikan settled the issue for good, publishing accurate results from a greatly improved experiment.]]></caption>
  </image>
  <image imageURL="images/1.27-1 Photoelectric.jpg"
	thumbURL="thumbs/1.27-1 Photoelectric.jpg"
	linkURL="images/1.27-1 Photoelectric.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\1.27-1 Photoelectric.jpg">
    <title><![CDATA[Millikan's photoelectric-effect apparatus, University of Chicago]]></title>
    <caption><![CDATA[Beginning in 1915, Millikan worked to verify Einstein's theory of the photoelectric effect (the emission of electrons by a conductor struck by light). According to Einstein, the maximum energy of ejected electrons is proportional to the individual energy of incident photons, a manifestation of the particle-like nature of light. The constant of proportionality is Planck's constant. (Circa 1912; photo ID 1.27-1)]]></caption>
  </image>
  <image imageURL="images/papers 16.jpg"
	thumbURL="thumbs/papers 16.jpg"
	linkURL="images/papers 16.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\papers 16.jpg">
    <title><![CDATA[Millikan's papers on the photoelectric effect, Physical Review, January and March 1916]]></title>
    <caption><![CDATA[Millikan's results were published in two papers. He had begun this investigation because he was skeptical of Einstein's theory, which contradicted the well-known wave-like nature of light. Even after verifying Einstein's predictions, Millikan remained doubtful of its physical significance.]]></caption>
  </image>
  <image imageURL="images/1.32-4 Ram Throop.jpg"
	thumbURL="thumbs/1.32-4 Ram Throop.jpg"
	linkURL="images/1.32-4 Ram Throop.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\1.32-4 Ram Throop.jpg">
    <title><![CDATA[On the Caltech campus, outside Throop Hall]]></title>
    <caption><![CDATA[After visiting Caltech (then Throop College) repeatedly since 1917, Millikan and his family moved permanently to Pasadena in 1921. Together with astronomer George Ellery Hale and chemist Arthur Amos Noyes, Millikan quickly built Caltech into a world-leading scientific institution. He functioned as the school's president, using the title of Chairman of the Executive Council (1921-1945). (Photo credit: unknown; photo ID: 1.32-4)]]></caption>
  </image>
  <image imageURL="images/nobel telegram.jpg"
	thumbURL="thumbs/nobel telegram.jpg"
	linkURL="images/nobel telegram.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\nobel telegram.jpg">
    <title><![CDATA[Millikan's Nobel telegram, November 14, 1923]]></title>
    <caption><![CDATA[By the time Millikan was awarded the Nobel Prize, he had already been nominated 19 times by colleagues around the world. The motivation of the prize was "for his work on the elementary charge of electricity and on the photoelectric effect."]]></caption>
  </image>
  <image imageURL="images/world newsclipping.jpg"
	thumbURL="thumbs/world newsclipping.jpg"
	linkURL="images/world newsclipping.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\world newsclipping.jpg">
    <title><![CDATA[Press clippings]]></title>
    <caption><![CDATA[The news spread quickly around the world.]]></caption>
  </image>
  <image imageURL="images/Congrats_ Michelson.jpg"
	thumbURL="thumbs/Congrats_ Michelson.jpg"
	linkURL="images/Congrats_ Michelson.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\Congrats_ Michelson.jpg">
    <title><![CDATA[Congratulations from an old teacher and colleague]]></title>
    <caption><![CDATA[Congratulatory letters from colleagues poured into Millikan's mailbox. Here is A. A. Michelson's, among the first to congratulate. Albert A. Michelson had already nominated Millikan for the Nobel Prize in Physics in 1919.]]></caption>
  </image>
  <image imageURL="images/Congrats_Planck_Page_1_2.jpg"
	thumbURL="thumbs/Congrats_Planck_Page_1_2.jpg"
	linkURL="images/Congrats_Planck_Page_1_2.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\Congrats_Planck_Page_1_2.jpg">
    <title><![CDATA[Congratulations from the great old man of German physics]]></title>
    <caption><![CDATA[Max Planck was one of the creators of quantum theory, and the winner of the Nobel Prize in 1918. He writes: "My dear colleague, allow me to express my sincere delight about your being awarded this year's Nobel Prize. It is the well-deserved recognition of your remarkably fruitful and significant work, which I have always followed with the utmost interest. Cordial greetings to you and also to Mrs. Millikan, in case she still remembers me. Yours sincerely, Dr. Max Planck." (Translation courtesy of A. Kappler)]]></caption>
  </image>
  <image imageURL="images/Congrats_Lorentz.jpg"
	thumbURL="thumbs/Congrats_Lorentz.jpg"
	linkURL="images/Congrats_Lorentz.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\Congrats_Lorentz.jpg">
    <title><![CDATA[Congratulatory letter from the Comité Scientifique de l'Institut International de Physique Solvay]]></title>
    <caption><![CDATA[Millikan had been the American representative at the International Congress of Physics (known as the Solvay Congress) in 1921. The letter is signed by the President, Hendrik Lorentz, 1902 Nobel Prize winner in Physics.]]></caption>
  </image>
  <image imageURL="images/Congrats_Glenn.jpg"
	thumbURL="thumbs/Congrats_Glenn.jpg"
	linkURL="images/Congrats_Glenn.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\Congrats_Glenn.jpg">
    <title><![CDATA[Congratulations from son Glenn]]></title>
    <caption><![CDATA[At the time Glenn Millikan was studying at Harvard. He would become a renowned physiologist, and the inventor of the first portable oximeter.]]></caption>
  </image>
  <image imageURL="images/nobel no thank you composite.jpg"
	thumbURL="thumbs/nobel no thank you composite.jpg"
	linkURL="images/nobel no thank you composite.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\nobel no thank you composite.jpg">
    <title><![CDATA[Millikan's letter to the Swedish Academy of Sciences declining to be present at the Nobel award ceremony]]></title>
    <caption><![CDATA[Millikan had already planned a trip to Europe for the spring 1924, and he was leery of taking two long absences from his laboratory and from Caltech, where he felt he was indispensable.]]></caption>
  </image>
  <image imageURL="images/nobel shipment.jpg"
	thumbURL="thumbs/nobel shipment.jpg"
	linkURL="images/nobel shipment.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\nobel shipment.jpg">
    <title><![CDATA[Medal and diploma come by mail]]></title>
    <caption><![CDATA[Millikan was represented at the December 10, 1923 award ceremony in Stockholm by the American ambassador, who received the Nobel medal and diploma. They were forwarded to Pasadena through the Department of State.]]></caption>
  </image>
  <image imageURL="images/Nobel medal.jpg"
	thumbURL="thumbs/Nobel medal.jpg"
	linkURL="images/Nobel medal.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\Nobel medal.jpg">
    <title><![CDATA[Millikan's Nobel medal]]></title>
    <caption><![CDATA[All Nobel medals carry Alfred Nobel's profile on the recto. The verso is different depending on the discipline, in this case Nature as a goddess emerging from the clouds.]]></caption>
  </image>
  <image imageURL="images/Scroll.jpg"
	thumbURL="thumbs/Scroll.jpg"
	linkURL="images/Scroll.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\Scroll.jpg">
    <title><![CDATA[Millikan's Nobel diploma]]></title>
    <caption><![CDATA[The diploma was hand lettered, and signed by Einar Loennberg, President of the Academy of Sciences.]]></caption>
  </image>
  <image imageURL="images/diary.jpg"
	thumbURL="thumbs/diary.jpg"
	linkURL="images/diary.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\diary.jpg">
    <title><![CDATA[Millikan's diary, 1924]]></title>
    <caption><![CDATA[Millikan finally delivered his Nobel Lecture in Stockholm on May  23, 1924, in the course of a very busy trip.]]></caption>
  </image>
  <image imageURL="images/1.31-6 nobel portrait.jpg"
	thumbURL="thumbs/1.31-6 nobel portrait.jpg"
	linkURL="images/1.31-6 nobel portrait.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Millikan\1.31-6 nobel portrait.jpg">
    <title><![CDATA[Robert Millikan's official Nobel portrait]]></title>
    <caption><![CDATA[This photo was taken in Stockholm on the occasion of Millikan's Nobel lecture. (May 1924; photo credit: A. B. Lagrelius & Westphal. Photo ID 1.31-6)]]></caption>
  </image>
</juiceboxgallery>